<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Your phrase is in title case:</h1>
            <h4>{{ result }}</h4>
        </div>
    </body>
</html>
